<launch>
  <arg name="enable_commands" default="false" />
  <arg name="height_mode" default="terrain" />
  <arg name="relative_reference_file" default="" />
  <arg name="finish" default="hold" />
  <arg name="takeoff_rise" default="1.1" />
  <arg name="takeoff_agl" default="0.0" />
  <arg name="ground_reference_file" default="" />
  <arg name="cloud_topic" default="/ducted/relocalization/registered_scan" />
  <node pkg="ducted_mission" type="automatic_flight.py" name="automatic_flight" output="screen" required="true" clear_params="true">
    <rosparam command="load" file="$(find ducted_mission)/config/automatic.yaml" />
    <rosparam command="load" file="$(find ducted_bringup)/config/airframe_geometry.yaml" />
    <rosparam if="$(eval arg('ground_reference_file') != '')" command="load" file="$(arg ground_reference_file)" />
    <param name="enable_commands" value="$(arg enable_commands)" />
    <param name="height_mode" value="$(arg height_mode)" />
    <rosparam if="$(eval arg('relative_reference_file') != '')" command="load" file="$(arg relative_reference_file)" />
    <param name="finish" value="$(arg finish)" />
    <param name="takeoff_rise" value="$(arg takeoff_rise)" />
    <param name="takeoff_agl" value="$(arg takeoff_agl)" />
    <param name="cloud_topic" value="$(arg cloud_topic)" />
  </node>
</launch>
