<launch>
  <!-- EGO is frozen. Arguments retained only to give existing invocations a clear refusal. -->
  <arg name="target_source" default="topic" />
  <arg name="topic_mode" default="single" />
  <arg name="mission_file" default="$(find ducted_offboard)/config/mission_example.yaml" />
  <arg name="control_config" default="$(find ducted_offboard)/config/offboard.yaml" />
  <arg name="navigation_config" default="$(find ducted_navigation)/config/local_avoidance.yaml" />
  <arg name="cloud_topic" default="/ducted/localization/cloud_registered" />
  <arg name="takeoff_height" default="1.0" />
  <arg name="horizontal_speed" default="0.3" />
  <arg name="vertical_speed" default="0.2" />
  <arg name="max_acceleration" default="0.5" />
  <arg name="min_relative_height" default="0.4" />
  <arg name="max_relative_height" default="2.5" />
  <arg name="geometry_file" default="$(find ducted_bringup)/config/airframe_geometry.yaml" />
  <arg name="geometry_confirmed" default="false" />
  <arg name="enable_navigation_output" default="false" />
  <arg name="log_root" default="/home/nrc/catkin_ws/logs/offboard_control" />
  <node pkg="ducted_bringup" type="frozen_ego.py" name="ego_frozen" output="screen" required="true" />
</launch>
