<launch>
  <!-- EGO is frozen. Arguments retained only to give existing invocations a clear refusal. -->
  <arg name="planner_backend" default="ego" />
  <arg name="enable_output" default="false" />
  <arg name="geometry_confirmed" default="false" />
  <arg name="odom_topic" default="/mavros/odometry/out" />
  <arg name="cloud_topic" default="/ducted/localization/cloud_registered" />
  <arg name="base_ready_topic" default="/ducted/system/ready" />
  <arg name="config_file" default="$(find ducted_navigation)/config/local_avoidance.yaml" />
  <arg name="geometry_file" default="$(find ducted_bringup)/config/airframe_geometry.yaml" />
  <arg name="require_planner_context" default="false" />
  <arg name="height_mode" default="terrain" />
  <arg name="min_relative_height" default="0.4" />
  <arg name="max_relative_height" default="2.5" />
  <arg name="horizontal_speed" default="0.5" />
  <arg name="vertical_speed" default="0.3" />
  <arg name="max_acceleration" default="0.5" />
  <arg name="snapshot_motion_margin" default="0.05" />
  <arg name="controller_frame_margin" default="0.0" />
  <arg name="planning_config" default="$(find ducted_planning)/config/ego.yaml" />
  <node pkg="ducted_bringup" type="frozen_ego.py" name="ego_frozen" output="screen" required="true" />
</launch>
